@{
    ViewData["Title"] = "Start game";
}

<div class="text-center">
    <h1 class="display-4">Mars to Stay</h1>
        <p>Game id is '@ViewData["GameId"]'</p>
        <p>@ViewData["Game"]</p>

    
</div>
