@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mars to Stay</h1>
    <p>Play <a href="http://thoughtfulgames.com/marstostay/index.html">Mars to Stay</a> online with your friends for free!</p>

    <p>Start game by clicking the "Start Game" button below.</p>
    <a class="btn btn-primary" href="/Games/Start">Start Game</a>

    <p>Join game by clicking the "Join Game" button below.</p>
    <a class="btn btn-primary" href="/Games/Join/">Join Game</a>
</div>
